#write{padding:0!important;max-width:800px}
h2,h3,h4,h5,h6{padding:0!important;}
.md-fences{padding:.5em;font-size:.9em!important;}
.md-fences,.md-math-block,.md-rawblock,figure,h1,h2,h3,h4,h5,h6,p{margin-top:.5rem!important;margin-bottom:.5rem!important;}
table td,table th{vertical-align:middle;}
table{border:1px solid #ccc!important;}
table th,table td{border-left:1px solid #ccc!important;}

footer.print-footer{display:none;color:#ddd;text-align:right;font-size:.2em;}
@media print{footer.print-footer{display:block!important;position:fixed!important;bottom:10px!important;right:45px!important;z-index:998244353!important;}}