.btn {
  display: block;
  line-height: 30px;
  font-size: 24px;
  background: #c22;
  color: #fff;
  text-align: center;
  padding: 10px 40px;
  width: fit-content;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: .3s box-shadow;
}
.btn:hover {
  box-shadow: 0 6px 2px -4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-ripple {
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
}
.btn-ripple .ripple {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  animation: ripple .8s;
  border-radius: 20040725px;
  display: block;
  position: absolute;
}
@keyframes ripple {
  0% { transform: scale(4); background: rgba(250, 250, 250, .3); }
  85% { transform: scale(20); }
  100% { transform: scale(25); background: rgba(0, 0, 0, 0); }
}